In [1]:
import pandas as pd
import json

In [2]:
with open(r'C:\Users\soubh\Downloads\OOPS\Deloitte-Virtual-Internship-Simulation\Data\Dakibo-Telementary-Data.json', 'r', encoding='utf-8') as f:
    data = json.load(f)

In [3]:
df = pd.json_normalize(data)

Removing Location In Column

In [4]:
df.columns = df.columns.str.replace('location','')
df.columns = df.columns.str.replace('data','')

In [5]:
df.columns = df.columns.str.replace('.','')

In [6]:
df.head(2)

,deviceID,deviceType,timestamp,country,city,area,factory,section,status,temperature
0,19ff3161-2b3a-40a3-8604-bdc6532d0dab,CNC,1619816400000,japan,tokyo,keiyō-industrial-zone,daikibo-factory-meiyo,section-1,healthy,27
1,19ff3161-2b3a-40a3-8604-bdc6532d0dab,CNC,1619817000000,japan,tokyo,keiyō-industrial-zone,daikibo-factory-meiyo,section-1,healthy,27

In [7]:
df.describe()

          timestamp    temperature
count  1.607040e+05  160704.000000
mean   1.620205e+12      24.989913
std    2.244744e+08       1.413845
min    1.619816e+12      23.000000
25%    1.620011e+12      24.000000
50%    1.620205e+12      25.000000
75%    1.620399e+12      26.000000
max    1.620593e+12      27.000000

In [8]:
df.shape

(160704, 10)

In [9]:
df.columns

Index(['deviceID', 'deviceType', 'timestamp', 'country', 'city', 'area',
       'factory', 'section', 'status', 'temperature'],
      dtype='object')

In [10]:
len(df)

160704

In [12]:
df.timestamp = pd.to_datetime(df['timestamp'],unit='ms')

Using The New CSV

In [15]:
df.to_csv('Cleaned_Dakibo_Telementary_Data.csv',index=False)