In [1]:
import pandas as pd

In [4]:
df = pd.read_json(r'C:\Users\soubh\Downloads\OOPS\Deloitte-Virtual-Internship-Simulation\Data\Dakibo-Telementary-Data.json')

In [5]:
df

,deviceID,deviceType,timestamp,location,data
0,19ff3161-2b3a-40a3-8604-bdc6532d0dab,CNC,2021-04-30 21:00:00,"{'country': 'japan', 'city': 'tokyo', 'area': ...","{'status': 'healthy', 'temperature': 27}"
1,19ff3161-2b3a-40a3-8604-bdc6532d0dab,CNC,2021-04-30 21:10:00,"{'country': 'japan', 'city': 'tokyo', 'area': ...","{'status': 'healthy', 'temperature': 27}"
2,19ff3161-2b3a-40a3-8604-bdc6532d0dab,CNC,2021-04-30 21:20:00,"{'country': 'japan', 'city': 'tokyo', 'area': ...","{'status': 'healthy', 'temperature': 26}"
3,19ff3161-2b3a-40a3-8604-bdc6532d0dab,CNC,2021-04-30 21:30:00,"{'country': 'japan', 'city': 'tokyo', 'area': ...","{'status': 'healthy', 'temperature': 24}"
4,19ff3161-2b3a-40a3-8604-bdc6532d0dab,CNC,2021-04-30 21:40:00,"{'country': 'japan', 'city': 'tokyo', 'area': ...","{'status': 'healthy', 'temperature': 27}"
...,...,...,...,...,...
160699,84c1cfda-e444-439f-bc7f-946246c2c65e,AirWrench,2021-05-09 20:10:00,"{'country': 'china', 'city': 'shenzhen', 'area...","{'status': 'healthy', 'temperature': 27}"
160700,84c1cfda-e444-439f-bc7f-946246c2c65e,AirWrench,2021-05-09 20:20:00,"{'country': 'china', 'city': 'shenzhen', 'area...","{'status': 'healthy', 'temperature': 26}"
160701,84c1cfda-e444-439f-bc7f-946246c2c65e,AirWrench,2021-05-09 20:30:00,"{'country': 'china', 'city': 'shenzhen', 'area...","{'status': 'healthy', 'temperature': 23}"
160702,84c1cfda-e444-439f-bc7f-946246c2c65e,AirWrench,2021-05-09 20:40:00,"{'country': 'china', 'city': 'shenzhen', 'area...","{'status': 'healthy', 'temperature': 23}"
160703,84c1cfda-e444-439f-bc7f-946246c2c65e,AirWrench,2021-05-09 20:50:00,"{'country': 'china', 'city': 'shenzhen', 'area...","{'status': 'healthy', 'temperature': 25}"

In [6]:
df.describe()

                 timestamp
count               160704
mean   2021-05-05 08:55:00
min    2021-04-30 21:00:00
25%    2021-05-03 02:57:30
50%    2021-05-05 08:55:00
75%    2021-05-07 14:52:30
max    2021-05-09 20:50:00